/* Home.css */

/*container for everything on Home page*/

.homeContent {
    margin-top: 80px;
  }
  
  .spacejpg {
    box-shadow: 0 4px 10px 0 rgb(42, 97, 180); /* this adds the "card" effect */
    margin-top: -90px;
    border: 5px;
    border-radius: 20px;
    border-color: rgb(98, 206, 206);
    width: 1200px;
    height: 650px
    
  }

  .bottomVec {
    height: 350px;
    margin-top: -120px;
  }

  .vecH4 {
    background: linear-gradient(90deg, #ff0202 0%,#462020 100%);
    color: rgb(255, 255, 255);
  }

  .homeTitle {
    text-decoration: underline;
    text-underline-position:below;
    line-height: -
    10px;
  }